*{
    margin: 0;
    padding: 0;
}
h1{
    height: 3rem;
    background-color: black;
    color: white;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}
.one{
    height: 170px;
    width: 170px;
}
.one:hover{
    opacity: 0.7;
}
img{
    height: 160px;
    width: 150px;
    object-fit: cover;
    border-radius: 5%;


}
.scoreboard{
    font-size: 30px;
    font-weight: bolder;
    gap: 3rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.msg{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mop{
    font-size: 20px;
    background-color: #501537;
    color: wheat;
    margin-top: 3rem;
    font-size: 2rem;
    border-radius: 5px;
    padding: 0.5rem;
}
.meg{
    display: flex;
    flex-direction: column;
}
#usersc,
#cmpsc{
font-size: 4rem;
}
.copy{
    font-size: 20px;
}
#lala{
    margin-top: 1rem;
    height: 2rem;
    box-shadow: 0 0 0 rgba(151, 142, 142, 0.5);}